*{margin:0;
    padding: 0;
    
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing: border-box;}
    
    body{
        font-family: 'Varela Round', sans-serif;
    }
    
    .contenedor{
    margin: auto;
    width: 100%;
    overflow: hidden;
    max-width: 1000px; /* PONER SIEMPRE EN ELMARGIN AUTO*/
    }
    
    
    /* Menu */
    .menu_bar {
        display:none;
    }
     
    
     
    header  {
        
      position: fixed;
        z-index:1000;
    
        width: 100%;
        margin: 10 auto;
        background:rgb(104, 103, 103);
    }
    
    
     
    header nav ul {
        list-style:none;
    }
     
    header nav ul li {
        display:inline-block;
        position: relative;
        padding-left: 50px;
    }
     
    header nav ul li a:hover {
        background:rgb(151, 149, 149);
    }
     
    header nav ul li a {
        background:rgb(104, 103, 103);
        color:#fff;
        display:block;
        text-decoration:none;
        padding: 20px;
        position: relative;
    }
     
    header nav ul li a span {
        margin-right:10px;
    }
    
    
    /* Portada */
    
    
    #portada{
    background: url('../imagenes/portadanueva.jpg') black;
    background-size:contain;
    background-position:  center;
    background-repeat: no-repeat;
        height:800px;
        max-height: 1000px;
        position: relative;
    }
    
    
    /* Section Pelea */
    .pelea  {
        background: #fff;
        width: 100%;
    }
    
    
    .pelea .contenedorpelea {
        display: block;
        width: 100%;
        padding: 20px;
        padding-top: 52px;
        padding-bottom: 52px;}
    
    .pelea .contenedorpelea .pelea1{
        display: block;
        width: 100%;
        text-align: center;
    }
    
    .pelea .contenedorpelea .pelea1 .contImg{
        width: 40%;
        display: inline-block;
        text-align: center;
    }
    
    .pelea .contenedorpelea .pelea1 .contImg img{
        width: 50%;
        height: 50%;
        padding-top: 18px;
    }
    
    .pelea .contenedorpelea .pelea1 .contParr{
        width: 40%;
        display: inline-block;
        text-align: center;
    }
    
    .pelea .contenedorpelea .pelea1 .contParr .texto{
        font-size: 25px;
        width: 100%;
        font-family: 'Varela Round', sans-serif;
        color: #4F4F4F;
    }
    
    
    /*Features */
    
    .features{
        background:#fd4646;
        width: 100%;
        background-size: 100%;
        margin: 0 auto;
        padding: 0;
    
    }
    
    .features .contenedorFeatures{
         display: flex;
     flex-direction: row;
     flex-wrap: wrap;
     justify-content: space-around;
     padding-top: 40px;
     padding-bottom: 52px;
     /* padding-left: 120px;*/
    }
    
    .features .contenedorFeatures .conFeatures{
        width: 50%;
    }
    
    
    .features .contenedorFeatures .conFeatures .imagenFeature{
    width: 100%;
    padding-top: 30px;
    /*margin:10px;*/
    }
    
    
    .features .contenedorFeatures .conFeatures .imagenFeature img{
        height: 200px;
    }
    
    .features .contenedorFeatures .conFeatures .textoFeatures{
        text-align: center;
        padding-right: 100px;
        width: 100%;
    }
    
    
    /*.features .conFeatures{
        display: inline-block;
        width: 49%;
        padding: 1em;
    }
    .features .conFeatures .imagenFeature{
        padding-left:60px;
    }
    
    .features .conFeatures .textop{
    text-align: center;
    font-size: 20px;
    padding-top:  10px;
     }
    
    
    .features .conFeatures .textoh{
    text-align: center;
    font-size: 22px;
    padding-top: 15px;
     }
    */
    
    /*--- Botones ---*/ 
    
    .descarga{
        background: yellow;
        width: 100%;
        margin: 0 auto;
    }
    
    .descarga .contenedor-botones{
        display: flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:space-around;
    align-items:center;
    padding-bottom: 45px;
    
    }
    
    .descarga .contenedor-botones .google-play{
        text-align: center;
        font-size: 25px;
        color: #676969;
        line-height: 30px;
        padding: 20px;
    
    }
    
    .descarga .contenedor-botones .google-play .download{
        margin-bottom: -40px;
    }
    
    .descarga .contenedor-botones .google-play .boton-playstore img{
        margin-top: 70px;
    }
    
    
    
    
    .descarga .contenedor-botones .suscribe p{
        margin-top: 30px;
    }
    
    .descarga .contenedor-botones .suscribe{
        text-align: center;
        font-size: 25px;
        color: #676969;
        line-height: 28px;
        padding: 20px;
    }
    
    
    
    input[type="email"] {
        
        font-size: 22px;
        background: yellow;
        color:#676969;
        border: 0px;
        border-bottom: 2.5px solid #676969;
        margin-top: 15px;
        
    }
    
    .descarga .suscribe .mc-field-group .email{
        width: 100%;
        font-size: 17px;
    }
    
    
    
    .descarga .suscribe .button {
        border-radius: 20px;
        font-size: 20px;
        padding: 5px 5px; 
        background: rgba(79,80,80,0.6);
        color: rgba(252,246,95,0.8);
        margin-top: 20px;
        width: 60%;
        border: rgba(149, 150, 48) solid;
    
    }
    .descarga .suscribe .button:hover{
        background: #565656;
        color: #fff;
        border: #565656 solid;
    }
    
    
    /*---Capturas---*/
    
    .capturas{
        background: #48E820;
        width: 100%;
        /*margin: 0 auto;	*/
    }
    .capturas .contenedor{
        overflow: hidden;
    }
    
    .capturas .textocap{
        text-align: center;
        font-size: 50px;
        line-height: 30px;
        color: rgba(88,88,84,0.8);
        padding-top:55px;
    }
    
    
    .capturas .contenedor-capturas{
        /*padding: 1em; */
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
     justify-content: space-around;
    width: 100%;	
     padding-top: 55px;
    }
    
    .capturas .contenedor-capturas .screens{
        width: 30%;	
        text-align: center;
    }
    
    .capturas .contenedor-capturas .screens .screenshots{
        width: 100%;
        margin-bottom: 10px;
    }
    
    .capturas .contenedor-capturas .screens .screenshots img{
        width:280px;
        height:154px;
        /*margin: 0 20px 0 20px;
        vertical-align: top;*/
    
    }
    
    
    
    /*---Footer---*/
    
    .email-copy{
        background:#2B64AA;
        width: 100%;
        margin: 0 auto;
    }
    
    .email-copy .logo-footer{
        width: 100%;
        text-align: center;
        padding-top: 55px;
    }
    
    
    .email-copy .textofooter{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
       justify-content: space-around;
       font-size: 18px;
       color: #232324;
       padding: 20px;
       line-height: 20px;
       padding-bottom: 50px;
    
    }
    
    /*--- Media queries ---*/
    
    /*--- 1280px ---*/
    
    @media screen and (max-width: 1280px) {
     /*-- Features --*/
    .features .contenedorFeatures {
        padding-left:  90px;
    }
    
     /*-- Capturas --*/
    .capturas .contenedor-capturas {
        padding-bottom:30px;
    }
    
    }
    
    
    
    /*--- 1000 ---*/
    
    @media screen and (max-width: 1000px) {
    
        .features .contenedorFeatures {
        padding-left:  100px;
        }
    
        .features .contenedorFeatures .conFeatures .textoFeatures{
        margin-right:40px;
        font-size: 15px;
        }
    
        
        .features .contenedorFeatures .conFeatures .imagenFeature img{
            width:340px;
            height:187px;
    
        }
     /*-- Capturas --*/
        .capturas .contenedor-capturas .screens .screenshots img{
            width:250px;
            height:138px;
            
            /*margin: 0 20px 0 20px;
            vertical-align: top;*/
        }
    
    }
    
    
    
    
    
    /*--- 850px ---*/ 
    
    @media screen and (max-width: 850px) {
    /*-- Pelea --*/
    .pelea .contenedorpelea .pelea1 .contImg .imagen1 {
        width:210px; 
        height:137px;
        margin-bottom: 30px; /*35%*/
    }
    /*-- Feature --*/
    .features .contenedorFeatures{
     padding-left: 75px;
    }
    
    
    .features .contenedorFeatures .conFeatures .imagenFeature img{
            width:300px;
            height:165px;
    
        }
    
    
    .features .contenedorFeatures .conFeatures .textoFeatures{
        text-align: center;
        padding-right: 5px;
        width: 75%;
    }
    
       /*---Capturas---*/
    
    .capturas .contenedor-capturas .screens{
        width: 30%;
        
        
    }
    
    .capturas .contenedor-capturas .screens .screenshots{
        width: 100%;
        
    }
    
    .capturas .contenedor-capturas .screens .screenshots img{
        vertical-align: super;
    
    }
    
    }
    
    
    /*--- 800px ---*/ 
    @media screen and (max-width: 800px) {
        body {
            padding-top:80px;
        }
     
        .menu_bar {
            display:block;
            width:100%;
            position: fixed;
            top:0;
            background:rgb(104, 103, 103);
        }
     
        .menu_bar .bt-menu {
            display: block;
            padding: 20px;
            color: #fff;
            overflow: hidden;
            font-size: 25px;
            font-weight: bold;
            text-decoration: none;
        }
     
        .menu_bar span {
            float: right;
            font-size: 40px;
        }
     
        header nav {
            width: 80%;
            height: calc(100% - 80px);
            position: fixed;
            right:100%;
            margin: 0;
            overflow: scroll;
        }
     
        header nav ul li {
            display: block;
            border-bottom:1px solid rgba(255,255,255,.5);
            padding-left: 0px;
        }
     
        header nav ul li a {
            display: block;
        }
     
    
    
    
        /*-- Feature --*/
        .features .contenedorFeatures{
      padding-left: 70px;
    }
    
    .features .contenedorFeatures .textoFeatures{
        text-align: center;
        padding-right: 50px;
        width: 100%;
    }
    
      /*---Capturas---*/
    
    
    .capturas .contenedor-capturas .screens{
        width: 30%;
        
        
    }
    
    .capturas .contenedor-capturas .screens .screenshots{
        width: 100%;
    }
    
    .capturas .contenedor-capturas .screens .screenshots img{
        width:230px;
        height:127px;
    }
    
    }
    
    
    /*--- 768px ---*/
    
    @media screen and (max-width: 768px) {
        /*-- Pelea --*/
    .pelea .contenedorpelea .pelea1 .contImg .imagen2 {
        width:200px; 
        height:162px;
        /*19%*/
    }
       
    /*-- Feature --*/
        .features .contenedorFeatures{
      padding-left: 60px;
    }
    
    .features .contenedorFeatures .conFeatures .textoFeatures{
        text-align: center;
        padding-right:30px;
        width: 90%;
    }
    
    }
    
    
    /*--- 700px ---*/
    
    @media screen and (max-width:700px){ 
        /*-- Pelea --*/
        
    .pelea .contenedorpelea .pelea1 .contImg .imagen2 {
        width:180px; 
        height:146px;
        /*19%*/
        margin-right:50px;
    }
    
    .pelea .contenedorpelea .pelea1 .contParr{
        width: 50%;
    }
    
    .pelea .contenedorpelea .pelea1 .contParr .texto{
        font-size: 22px;
        width: 90%;
    }
    
         /*-- Feature --*/
        .features .contenedorFeatures{
      padding-left: 45px;
    }
    
    
    .features .contenedorFeatures .conFeatures .imagenFeature img{
            width:280px;
            height:154px;
    
        }
    .features .contenedorFeatures .conFeatures .textoFeatures{
        text-align: center;
        padding-right:20px;
        width: 85%;
    }
    
      /*---Capturas---*/
    
    
    .capturas .contenedor-capturas .screens{
        width: 30%;
        
        
    }
    
    .capturas .contenedor-capturas .screens .screenshots{
        width: 100%;
    }
    
    .capturas .contenedor-capturas .screens .screenshots img{
        width:210px;
        height:116px;
    }
    }
    
    
    /*--- 684px ---*/
    
    @media screen and (max-width: 684px){
    /*-- Botones --*/ 
    .descarga .contenedor-botones{
    padding-top: 35px;
    
    }
    }
    
    
    /*--- 650px ---*/
    
    @media screen and (max-width: 650px) {
        /*-- Feature --*/
        .features .contenedorFeatures{
      padding-left: 40px;
    }
    
    
    .features .contenedorFeatures .conFeatures .imagenFeature img{
            width:270px;
            height:149px;
    
        }
    .features .contenedorFeatures .conFeatures .textoFeatures{
        text-align: center;
        padding-right:5px;
        width: 85%;
    }
    
     /*-- Capturas --*/
    
    
    .capturas .contenedor-capturas .screens{
        width: 46%;
    }
    
    
    .capturas .contenedor-capturas .screens .screenshots img{
        width:250px;
        height:138px;
        /*45%*/
    }
    
    }
    
    
    
    
    /*--- 614px ---*/
    
    @media screen and (max-width: 614px) {
    /*-- Feature --*/
        .features .contenedorFeatures{
      padding-left: 25px;
    }
    
    .features .contenedorFeatures .conFeatures .textoFeatures{
        text-align: center;
        padding-right:0px;
        width: 85%;
    }
    }
    
    
    
    
    /*--- 600px ---*/
    
    @media screen and (max-width: 600px) {
       /*--- Pelea --*/
    
    .pelea .contenedorpelea .pelea1 .contImg{
        display: none;}
    
    
    
    .pelea .contenedorpelea .pelea1 .contParr{
        width: 46%;
    
        display: inline;
        text-align: center;
        /*margin: 0px 0px 0px 100px; */}
    
    .pelea .contenedorpelea .pelea1 .contParr .texto{
        font-size: 20px;
        width: 90%;
        font-family: 'Varela Round', sans-serif;
        color: #4F4F4F;
        margin: 10px 20px 30px 30px;}
    
    
     /*-- Feature --*/
    
     .features .contenedorFeatures{
     padding-left: 10px;
    }
        
    
    .features .contenedorFeatures .conFeatures{
        width: 46%;}
    
    
    
    .features .contenedorFeatures .conFeatures .imagenFeature img{
            width:265px;
            height:146px;
            /*45%*/
        }
    
    .features .contenedorFeatures .conFeatures .textoFeatures{
        text-align: center;
        padding-right: 70px;
        width: 120%;}
    
    
    .features .contenedorFeatures .conFeatures .textoFeatures .textoh{
        font-size: 25px;
        padding-bottom: 5px;}
    
    
    
    
    /*-- Botones --*/ 
    .descarga .contenedor-botones{
    padding-top: 35px;
    
    }
    
    
    
     
    /*-- Capturas --*/
    
    .capturas .textocap{
        font-size: 40px;
    }
    
    .capturas .contenedor-capturas .screens{
        width: 46%;
    }
    
    
    .capturas .contenedor-capturas .screens .screenshots img{
        width:250px;
        height:138px;
        /*45%*/
    }
    
    }
    
    
    
    /*--- 500px ---*/
    
    @media screen and (max-width: 500px) {
    
        
    
     /*-- Feature --*/
    
     .features .contenedorFeatures{
     padding-left: 77px;
    }
        
    .features .contenedorFeatures .conFeatures{
        width: 100%;}
    
    
    .features .contenedorFeatures .conFeatures .imagenFeature img{
            width:350px;
            height:193px;
            /*45%*/
        }
    
    
        .features .contenedorFeatures .conFeatures .textoFeatures{
        text-align: center;
        padding-right: 5px;
        width: 80%;}
    
    
    
    
    /*-- Capturas--*/
    
    .capturas .textocap{
        font-size: 38px;
    }
    
    .capturas .contenedor-capturas .screens{
        width: 100%;
    
    }
    
    .capturas .contenedor-capturas .screens .screenshots{
        width: 85%;
        height: 100%;
        margin-left:40px;
    }
    
    .capturas .contenedor-capturas .screens .screenshots img{
        width:350px;
        height:193px;
    }
    
    
    }
    
    
    
    
    /*--- 450px ---*/
    
    @media screen and (max-width: 450px) {
    
         /*-- Feature --*/
    
     .features .contenedorFeatures{
     padding-left: 50px;
    }
        
    
    
    .features .contenedorFeatures .conFeatures .textoFeatures{
        text-align: center;
        padding-right:70px;
        width: 100%;}
    
    .features .contenedorFeatures .conFeatures .textoFeatures .textoh{
    font-size: 23px;
    }
    
    .features .contenedorFeatures .conFeatures .textoFeatures .textop{
    font-size: 14px;
    }
    /*-- Capturas --*/
    
    .capturas .textocap{
        font-size: 38px;
    }
    .capturas .contenedor-capturas{
     padding-right: 20px;
    }
    
    .capturas .contenedor-capturas .screens .screenshots img{
        width:350px;
        height:193px;
    }
    
    /*---Footer---*/
    
    
    .email-copy .textofooter .email{
        padding-bottom: 20px;
    }
    
    }
    
    
    
    
    
    /*--- 414px ---*/
    
    @media screen and (max-width: 414px) {
       /*--- Pelea --*/
    
    
    
    .pelea .contenedorpelea .pelea1 .contParr .texto{
        font-size: 18px;
        width: 85%;
    }
    
    
    
          /*-- Feature --*/
    
     .features .contenedorFeatures{
     padding-left:60px;
    }
        
    .features .contenedorFeatures .conFeatures{
        width: 100%;}
    
    
    .features .contenedorFeatures .conFeatures .imagenFeature img{
            width:300px;
            height:165px;
            /*45%*/
        }
    
    
    .features .contenedorFeatures .conFeatures .textoFeatures{
        text-align: center;
        padding-left:0px;
        }
    
    
     /*-- Capturas--*/
    
    
    .capturas .contenedor-capturas .screens{
        width: 100%;
    
    }
    
    
    .capturas .contenedor-capturas .screens .screenshots  img{
        width:300px;
        height:165px;
    }
    
    }
    
    
    /*--- 375px ---*/
    
    @media screen and (max-width: 375px) {
       /*--- Pelea --*/
    
    
          /*-- Feature --*/
    
     .features .contenedorFeatures{
     padding-left:40px;
    }
        
    
    
    .features .contenedorFeatures .conFeatures .textoFeatures{
        text-align: center;
        padding-left:20px;
        }
    
    
    }
    
    /*--- 360px ---*/
    
    @media screen and (max-width: 360px) {
       /*--- Pelea --*/
    
    
    .pelea .contenedorpelea .pelea1 .contParr .texto{
        font-size: 18px;
        width: 82%;
    }
    
    
         /*-- Feature --*/
    
     
     .features .contenedorFeatures{
     padding-left: 40px;
    }
        
    .features .contenedorFeatures .conFeatures .imagenFeature img{
            width:280px;
            height:154px;
            /*45%*/
        }
    
    .features .contenedorFeatures .conFeatures .textoFeatures{
        text-align: center;
        padding-left:10px;
        }
    
    
    
     /*-- Capturas--*/
    
    .capturas .textocap{
        font-size: 35px;
    }
    .capturas .contenedor-capturas{
     padding-right: 30px;
    }
    .capturas .contenedor-capturas .screens{
        width: 100%;
    
    }
    
    
    .capturas .contenedor-capturas .screens .screenshots  img{
        width:280px;
        height:154px;
    }
    
    
    
    }
    
    
    /*--- 320px ---*/
    
    @media screen and (max-width: 320px) {
    
    
    
         /*-- Feature --*/
    
     
     .features .contenedorFeatures{
     padding-left: 20px;
    }
        
    .features .contenedorFeatures .conFeatures .imagenFeature img{
            width:280px;
            height:154px;
            /*45%*/
        }
    
    .features .contenedorFeatures .conFeatures .textoFeatures{
        text-align: center;
        padding-left:30px;
        }
    
    
    
     /*-- Capturas--*/
    
    .capturas .textocap{
        font-size: 35px;
    }
    .capturas .contenedor-capturas{
    margin-left:-35px;
    
    }
    .capturas .contenedor-capturas .screens{
        width: 90%;
    
    }
    
    
    .capturas .contenedor-capturas .screens .screenshots  img{
        width:280px;
        height:154px;
    }
    
    
    
    }