
/* @import url(menu.css); */



*{margin:0;
padding: 0;

-webkit-box-sizing:border-box;
-moz-box-sizing:border-box;
box-sizing: border-box;}

body{
	background: white;
	/* font-family: 'Varela Round', sans-serif; */
	font-family: 'Merriweather', serif;
	 /* padding-top:60px;  */
	
}

.contenedor{
	overflow: hidden; 
    width: 100%;
    margin: auto;
}

header {
    width: 100%;
    height: 50px;
    background:#000;
    color:#fff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}
	

header .cuadro-menu .logo-menu {
    display: inline-block;
	position: fixed;
    z-index: 1000;
	margin: 6px 10px;
	
}
  


	header .cuadro-menu .icono-menu  {
		cursor: pointer;
		float: right;
		display: none;
	}
	
	.container {
		max-width: 960px;
		width: 100%;
		margin: 10px auto;
	  }
	  
	  .movie {
		width: 100%;
	  }



/* Boton */
.btn-3d {
	padding: 6px;
	border: 1px solid #991a09;
	border-radius: 4px;
	background-color: #d9190b;
	color: #fff;
  
	font-size: 20px;
	text-shadow: 0 -1px 0 rgba(170, 21, 21, 0.5);
	box-shadow: 0 1px 0 rgba(255,255,255,.5) inset,
	  0 1px 3px rgba(71, 34, 34, 0.2);
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(10%,rgb(255, 30, 0)),to(#e71300));
	background-image: linear-gradient(rgb(255, 81, 0) 10%,#e72e00 100%);
  }
  
  .btn-3d:hover, .btn-3d:focus {
	background-color: #e0391b;
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(10%,#f00800),to(rgb(255, 8, 0)));
	background-image: linear-gradient(#f01000 10%,rgb(255, 38, 0) 100%);
	border-style: none;
  }
  
  .btn-3d:active {
	background-color: #cf1f00;
	box-shadow: 0 2px 3px 0 rgba(173, 75, 75, 0.2) inset;
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(10%,#f01000),to(rgb(255, 30, 0)));
	background-image: linear-gradient(#f00000 10%,rgb(255, 51, 0) 100%);
	border-style: none;
  }


  /* #playButton{
	padding: 0 16px;
	border-radius: 2px;
	background-color: #872b01;
	box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2),
	  0 2px 2px 0 rgba(0, 0, 0, 0.14),
	  0 1px 5px 0 rgba(0, 0, 0, 0.12);
	color: #fff;
	transition: background-color 15ms linear,
	  box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
  
	height: 36px;
	line-height: 2.25rem;
	font-family: Roboto, sans-serif;
	font-size: 0.875rem;
	font-weight: 500;
	letter-spacing: 0.06em;
	text-transform: uppercase;
  }
  
  #playButton:hover, #playButton:focus {
	box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2),
	  0 4px 5px 0 rgba(0, 0, 0, 0.14),
	  0 1px 10px 0 rgba(0, 0, 0, 0.12);
	background-color: #902e15;
  }
  
  #playButton:active {
	box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
	  0 8px 10px 1px rgba(0, 0, 0, 0.14),
	  0 3px 14px 2px rgba(0, 0, 0, 0.12);
	background-color: #61b4b3;
  } */
/* /Boton */
	/*Menu*/
	

	.menu{
		position: static;
		width: auto;
		height: auto;
		float: right;
		display: flex;
		padding: 10px 50px;
		text-align: right;
		
	}

.menu a {
  border: none;
  padding-bottom:  10px;
	margin: 0 20px;
	text-decoration: none;
	color: white;
	display: inline-block;
	font-size: 1em;
	position: relative;
	top: 0px;
	font-weight:400;
	/* font-style:regular;  */
}



.menu #btn-description:hover{
text-decoration:none;
color: rgb(91, 154, 231);
}

.menu #btn-features:hover{
text-decoration:none;
color:#f16363;
	}


.boton:hover{
text-decoration:none;
color:#faf75a; 
}

.menu #btn-screenshots:hover{
text-decoration:none;
color:rgb(103, 247, 67);
}
	
#playstore{
	background: transparent;
	border: none;

}

/* /Menu */



/* portada*/
  #portada{ 
        width: 100%;
        height: 100%;
      
    }


    #portada{
        margin-top: 50px;
        width: 100%;
        height: auto;
        overflow: hidden;
    }
    
    #portada img{
        width: 100%;
        height: auto;
        overflow: hidden;
    }


/* Section Pelea */
.pelea  {
	background: #fff;
	width: 100%;
}

.pelea .video{
	text-align: center;
	padding-top: 40px;
}

.pelea .video iframe{

	width:890px;
	 height:500px ;
	 /* *1.78 */
	
}

.pelea .contenedorpelea {
	display: block;
	width: 100%;
	padding: 20px;
	padding-top: 60px;
	padding-bottom: 60px;}

.pelea .contenedorpelea .pelea1{
	display: block;
	width: 100%;
	text-align: center;
}

.pelea .contenedorpelea .pelea1 .contImg{
	width: 40%;
	display: inline-block;
	text-align: center;
}

.pelea .contenedorpelea .pelea1 .contImg img{
	width: 50%;
	height: 50%;
	padding-top: 18px;
}

.pelea .contenedorpelea .pelea1 .contParr{
	width: 40%;
	display: inline-block;
	text-align: center;
}

.pelea .contenedorpelea .pelea1 .contParr .texto{
	font-size: 25px;
	width: 100%;
	font-family: 'Varela Round', sans-serif;
	color: #4F4F4F;
	font-weight:400;
	 font-style:italic;  
}


/* Features/carousel */

#contenedorfeatures{
	/* background:#fd4646; */
	 background:#f16363; 
   padding: 50px;
  
}


#fotos{
margin-bottom: 150px;
	height:100%;
	width: 100%;
}


/*--- Botones ---*/ 

.descarga{
	/* background: yellow; */
	 background:#faf75a; 
	width: 100%;
    margin: 0 auto;
}

.descarga .contenedor-botones{
	display: flex;
flex-direction:row;
flex-wrap:wrap;
justify-content:space-around;
align-items:center;
padding-bottom: 55px;

}

.descarga .contenedor-botones .google-play{
	text-align: center;
	font-size: 25px;
	color: #676969;
	line-height: 30px;
	padding: 20px;

}

.descarga .contenedor-botones .google-play .download{
	margin-bottom: -40px;
	font-weight: 400;
	/* font-style: italic; */
	color: rgb(126, 115, 15);
}

.descarga .contenedor-botones .google-play .boton-playstore img{
	margin-top: 70px;
}




.descarga .contenedor-botones .suscribe p{
	margin-top: 30px;

}

.descarga .contenedor-botones .suscribe{
	text-align: center;
	font-size: 25px;
	color: #676969;
	line-height: 28px;
	padding: 20px;
}



input[type="email"] {
	
	font-size: 22px;
	background: yellow;
	color:#676969;
	border: 0px;
	border-bottom: 2.5px solid #676969;
	margin-top: 15px;
	
}

.descarga .suscribe .mc-field-group .email{
	width: 100%;
	font-size: 17px;
}



.descarga .suscribe .button {
	border-radius: 20px;
	font-size: 20px;
	padding: 5px 5px; 
	background: rgba(79,80,80,0.6);
	color: rgba(252,246,95,0.8);
	margin-top: 20px;
	width: 60%;
	border: rgba(149, 150, 48) solid;

}
.descarga .suscribe .button:hover{
	background: #565656;
	color: #fff;
	border: #565656 solid;
}


/*---Capturas---*/

.capturas{
	background: rgb(103, 247, 67);
	/* background: #48E820; */
	width: 100%;
	padding-bottom: 50px;
    /*margin: 0 auto;	*/
}
.capturas .contenedor{
	overflow: hidden;
}

.capturas .textocap{
	text-align: center;
	font-size: 40px;
	line-height: 30px;
	color:rgb(8, 92, 15);
	padding-top:75px;
	font-weight: 400;
	 font-style: italic; 

}


.capturas .contenedor-capturas{
	/*padding: 1em; */
 display: flex;
 flex-direction: row;
 flex-wrap: wrap;
 justify-content: space-around;
width: 100%;	
 padding-top: 55px;
}

.capturas .contenedor-capturas .screens{
	width: 30%;	
	text-align: center;
}

.capturas .contenedor-capturas .screens .screenshots{
	width: 100%;
	margin-bottom: 10px;
}

.capturas .contenedor-capturas .screens .screenshots img{
	width:280px;
	height:154px;
	/*margin: 0 20px 0 20px;
	vertical-align: top;*/

}



/*---Footer---*/

.email-copy{
	background:rgb(91, 154, 231);
	width: 100%;
	margin: 0 auto;
}

.email-copy .logo-footer{
	width: 100%;
	text-align: center;
	padding-top: 55px;
}


.email-copy .textofooter{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
   justify-content: space-around;
   font-size: 18px;
   color: #232324;
   padding: 20px;
   line-height: 20px;
   padding-bottom: 50px;
   font-weight: 400;
	font-style: italic;

}
.email-copy .textofooter .terminos p{
	color: #232324;
}
/*--- Media queries ---*/

/*--- 1280px ---*/

@media screen and (max-width: 1280px) {

	/* video */

	
/* .pelea .video{
	text-align: center;
	padding-top: 40px;
} */

.pelea .video iframe{

	width:801px;
	 height:450px ;
	 /* *1.78 */
	
}
 /*-- Capturas --*/
.capturas .contenedor-capturas {
	padding-bottom:30px;
}

}



/*--- 1000 ---*/

@media screen and (max-width: 1000px) {

/* video */


.pelea .video iframe{

	width:534px;
	 height:300px ;
	 /* *1.78 */
	
}
/* Features / carousel */
#fotos{
	margin-bottom: 170px;
	
}





 /*-- Capturas --*/
	.capturas .contenedor-capturas .screens .screenshots img{
		width:250px;
		height:138px;
		
		/*margin: 0 20px 0 20px;
		vertical-align: top;*/
	}

}





/*--- 850px ---*/ 

@media screen and (max-width: 850px) {
/*-- Pelea --*/
.pelea .contenedorpelea .pelea1 .contImg .imagen1 {
	width:210px; 
	height:137px;
	margin-bottom: 30px; /*35%*/
}
/* video */


.pelea .video iframe{

		width:534px;
	 height:300px ;
	 /* *1.78 */
	
}
/* Features/carousel */

#contenedorfeatures{
	width: 1000px;
}

#carouselft{
	margin-right: 150px;
}
#fotos{
	margin-bottom: 150px;
}


   /*---Capturas---*/

.capturas .contenedor-capturas .screens{
	width: 30%;
	
	
}

.capturas .contenedor-capturas .screens .screenshots{
	width: 100%;
	
}

.capturas .contenedor-capturas .screens .screenshots img{
	vertical-align: super;

}

}


/*--- 800px ---*/ 
@media screen and (max-width: 800px) {


	  header{
		display: flex;
	}
	  header .cuadro-menu .icono-menu {
		display: inline-block;
		
		
		
		
    }
    header .cuadro-menu .icono-menu img {
		padding: 10px;
		
	
    }
    	
	    header .menu {
		margin-left: -40px;
		text-align: left;
		 display: inline-block; 
		
		width: 40%;
		 position: absolute;	  
	}  
	
		 .menu{
			position: absolute;
			top: 50px;
			left: 0;
			width: 60%;
			height: 100vh;
			 background: rgba(22,22,22,0.8); 
			 font-size: 18px;
			 
		}
		
		.menu a{
			
			color:#fff;
			/* height: 50px; */
			text-decoration: none;
			padding: 15px;
			
			top: 0px;
			
		}
		
		.menu a:hover{
			
			text-decoration: overline;
			color: rgb(151, 146, 146);
			
		}
	

/* Features/carousel */


#carouselft{
	margin-right: 200px;
}


  /*---Capturas---*/


.capturas .contenedor-capturas .screens{
	width: 30%;
	
	
}

.capturas .contenedor-capturas .screens .screenshots{
	width: 100%;
}

.capturas .contenedor-capturas .screens .screenshots img{
	width:230px;
	height:127px;
}

}


/*--- 768px ---*/

@media screen and (max-width: 768px) {
	/*-- Pelea --*/
.pelea .contenedorpelea .pelea1 .contImg .imagen2 {
	width:200px; 
	height:162px;
	/*19%*/
}

/* Features/carousel */

#carouselft{
	margin-right: 230px;
}


/*--- 700px ---*/

@media screen and (max-width:700px){ 
	/*-- Pelea --*/
	
.pelea .contenedorpelea .pelea1 .contImg .imagen2 {
	width:180px; 
	height:146px;
	/*19%*/
	margin-right:50px;
}

.pelea .contenedorpelea .pelea1 .contParr{
	width: 50%;
}

.pelea .contenedorpelea .pelea1 .contParr .texto{
	font-size: 22px;
	width: 90%;
}


/* Features/carousel */

#contenedorfeatures{
	width: 900px;
}


#carouselft{
	margin-left: 30px;
}

}
  /*---Capturas---*/


.capturas .contenedor-capturas .screens{
	width: 30%;
	
	
}

.capturas .contenedor-capturas .screens .screenshots{
	width: 100%;
}

.capturas .contenedor-capturas .screens .screenshots img{
	width:210px;
	height:116px;
}
}


/*--- 684px ---*/

@media screen and (max-width: 684px){
/*-- Botones --*/ 
.descarga .contenedor-botones{
padding-top: 35px;

}
}


/*--- 650px ---*/

@media screen and (max-width: 650px) {
		
	/* video */
.pelea .video iframe{

	width:445px;
 height:250px ;
 /* *1.78 */

}

/* Features/carousel */
#carouselft{
	margin-right: 280px;
}


 /*-- Capturas --*/


.capturas .contenedor-capturas .screens{
	width: 46%;
}


.capturas .contenedor-capturas .screens .screenshots img{
	width:250px;
	height:138px;
	/*45%*/
}

}




/*--- 614px ---*/

@media screen and (max-width: 614px) {
/* Features/carousel */

#contenedorfeatures{
	width: 850px;
}

#carouselft{
	margin-right: 260px;
}

}




/*--- 600px ---*/

@media screen and (max-width: 600px) {

	/* Menu */

	header .menu {
		width: 50%;  
	}  
   /*--- Pelea --*/

.pelea .contenedorpelea .pelea1 .contImg{
	display: none;}



.pelea .contenedorpelea .pelea1 .contParr{
	width: 46%;

	display: inline;
	text-align: center;
	/*margin: 0px 0px 0px 100px; */}

.pelea .contenedorpelea .pelea1 .contParr .texto{
	font-size: 20px;
	width: 90%;
	font-family: 'Varela Round', sans-serif;
	color: #4F4F4F;
	margin: 10px 20px 30px 30px;}


 /* Features/carousel */

#carouselft{
	margin-right: 275px;
}


/*-- Botones --*/ 
.descarga .contenedor-botones{
padding-top: 35px;
}


 
/*-- Capturas --*/

.capturas .textocap{
	font-size: 40px;
}

.capturas .contenedor-capturas .screens{
	width: 46%;
}


.capturas .contenedor-capturas .screens .screenshots img{
	width:250px;
	height:138px;
	/*45%*/
}

}



/*--- 500px ---*/

@media screen and (max-width: 500px) {
	/* Menu */

	header .menu {
		width: 60%;  
	} 
	/* video */
.pelea .video iframe{

	width:356px;
 height:200px ;
 /* *1.78 */

}
/* Features/carousel */



#carouselft{
	right: 50px;
}




/*-- Capturas--*/

.capturas .textocap{
	font-size: 38px;
}

.capturas .contenedor-capturas .screens{
	width: 100%;

}

.capturas .contenedor-capturas .screens .screenshots{
	width: 85%;
	height: 100%;
	margin-left:40px;
}

.capturas .contenedor-capturas .screens .screenshots img{
	width:350px;
	height:193px;
}


}




/*--- 450px ---*/

@media screen and (max-width: 450px) {

	
/* Features/carousel */

#contenedorfeatures{
	width: 800px;
}


#carouselft{
	right: 50px;
}

/*-- Capturas --*/

.capturas .textocap{
	font-size: 38px;
}
.capturas .contenedor-capturas{
 padding-right: 20px;
}

.capturas .contenedor-capturas .screens .screenshots img{
	width:350px;
	height:193px;
}

/*---Footer---*/


.email-copy .textofooter .email{
	padding-bottom: 20px;
}

}





/*--- 414px ---*/

@media screen and (max-width: 414px) {
   	/* Menu */

	header .menu {
		width: 70%;  
	} 
	
	/*--- Pelea --*/

.pelea .contenedorpelea .pelea1 .contParr .texto{
	font-size: 18px;
	width: 85%;
}

/* Features/carousel */

#contenedorfeatures{
	width: 770px;
}


#carouselft{
	right: 55px;
}



 /*-- Capturas--*/


.capturas .contenedor-capturas .screens{
	width: 100%;

}


.capturas .contenedor-capturas .screens .screenshots  img{
	width:300px;
	height:165px;
}

}


/*--- 375px ---*/

@media screen and (max-width: 375px) {
/* video */
.pelea .video iframe{

	width:320.4px;
 height:180px ;
 /* *1.78 */

}

	/* Features/carousel */

#contenedorfeatures{
	width: 730px;
}


#carouselft{
 right: 55px;
}

#fotos{
	margin-bottom: 170px;
	

}
}

/*--- 360px ---*/

@media screen and (max-width: 360px) {
   /*--- Pelea --*/


.pelea .contenedorpelea .pelea1 .contParr .texto{
	font-size: 18px;
	width: 82%;
}

/* Features/carousel */

#carouselft{
  right: 62px;
}


 /*-- Capturas--*/

.capturas .textocap{
	font-size: 35px;
}
.capturas .contenedor-capturas{
 padding-right: 30px;
}
.capturas .contenedor-capturas .screens{
	width: 100%;

}


.capturas .contenedor-capturas .screens .screenshots  img{
	width:280px;
	height:154px;
}

}


/*--- 320px ---*/

@media screen and (max-width: 320px) {

/* video */
.pelea .video iframe{

	width:267px;
 height:150px ;
 /* *1.78 */

}

	/* Features/carousel */

#contenedorfeatures{
	width: 560px;
}


#carouselft{
	margin-right: 142px;
}


 /*-- Capturas--*/

.capturas .textocap{
	font-size: 35px;
}
.capturas .contenedor-capturas{
margin-left:-35px;

}
.capturas .contenedor-capturas .screens{
	width: 90%;

}


.capturas .contenedor-capturas .screens .screenshots  img{
	width:280px;
	height:154px;
}

}
